<!DOCTYPE html>
<html>
  <head>
    <title><%= post.title %> - <%= github.userName %> Blog</title>
    <link href="../assets/common.css" rel="stylesheet"></link>
    <link href="../assets/hl.css" rel="stylesheet"></link>
    <link href="../assets/font.css" rel="stylesheet"></link>
  </head>
  <body>
    <div class="wrapper">
      <div class="title-wrapper">
          <h1 class="title"><%= post.title %></h1>
          <p class="post-date"><%= dayjs(post.createdAt).format('YYYY-MM-DD') %></p>
      </div>
      <div class="content" id="content">
          <%= post.htmlContent %>
      </div>
      <div class="footer">
        Powered by PuddingNote
      </div>
      <div class="toc_nav">
        <div class="article_nav" id="article_nav">
        </div>
      </div>
      <div class="scroll post-top" id="top">
        <a href="javascript:void(0)" onclick="toBackTop()">
          <i class="iconfont icon-shangsanjiaoxing"></i>
        </a>
      </div>
      <div class="scroll back">
        <a href="../../">
          <i class="iconfont icon-shouye"></i>
        </a>
      </div>
    </div>

    <script>
      function toBackTop(){
        document.documentElement.scrollTop = 0
      }

      function onScrollToTop() {
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop
        // 回到顶部
        if (scrollTop > 300) {
          document.getElementById("top").style.display = 'block'
        } else {
          document.getElementById("top").style.display = 'none'
        }
        // 导航目录
        if(scrollTop > 100) {
          var navNode = document.querySelector('#article_nav')
          navNode.style.position = 'fixed'
          navNode.style.top = '16px'
        } else {
          var navNode = document.querySelector('#article_nav')
          navNode.style.position = ''
          navNode.style.top = ''
        }
      }

      function addAchor() {
        var allNodes = document.getElementById('content').childNodes
        // var nodesH =  [...allNodes].map((item, index) => {
        //   if(item.tagName && item.tagName.substr(0,1).toUpperCase() === "H") {
        //     return item.tagName
        //   }
        // })
        var mapNodes = [...allNodes].forEach((item, index) => {
          if(item.tagName && item.tagName.substr(0,1).toUpperCase() === "H") {
            var contentH = item.innerHTML // 标题内容
            var menuid = "menu-" + item.tagName + "-" + index.toString() // 增加当前元素的id
            item.setAttribute('id',menuid)
            var spaceNum = ''
            if (item.tagName === 'H1') {
              spaceNum = ''
            } else if (item.tagName === 'H2') {
              spaceNum = '&nbsp;&nbsp;&nbsp;&nbsp;'
            }  else if (item.tagName === 'H3') {
              spaceNum = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
            } else if (item.tagName === 'H4') {
              spaceNum = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
            } else if (item.tagName === 'H5') {
              spaceNum = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
            } else if (item.tagName === 'H6') {
              spaceNum = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
            }
            var node = document.createElement('a')
            node.setAttribute('href','#' + menuid)
            node.setAttribute('class', item.tagName)
            node.innerHTML = spaceNum + contentH
            document.getElementById('article_nav').appendChild(node) // 将新创建的目录节点插入导航栏
          }
        })
      }

      window.onscroll = onScrollToTop

      window.onload = function() {
        addAchor()
      }
    </script>
  </body>
</html>