<!DOCTYPE html>
<html>
  <head>
    <title><%= post.title %> - <%= github.userName %> Blog</title>
    <link href="../assets/common.css" rel="stylesheet"></link>
    <link href="../assets/hl.css" rel="stylesheet"></link>
    <link href="../assets/font.css" rel="stylesheet"></link>
  </head>
  <body>
    <div class="wrapper">
      <div class="title-wrapper">
          <h1 class="title"><%= post.title %></h1>
          <p class="post-date"><%= dayjs(post.createdAt).format('YYYY-MM-DD') %></p>
      </div>
      <div class="content">
          <%= post.htmlContent %>
      </div>
      <div class="scroll post-top" id="top">
        <a href="javascript:void(0)" onclick="toBackTop()">
          <i class="iconfont icon-shangsanjiaoxing"></i>
        </a>
      </div>
      <div class="scroll back">
        <a href="../../">
          <i class="iconfont icon-iconhuidaoshouye"></i>
        </a>
      </div>
    </div>

    <script>
      function toBackTop(){
        document.documentElement.scrollTop = 0
      }
  
      function onScrollToTop() {
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop
        if (scrollTop > 300) {
          document.getElementById("top").style.display = 'block'
        } else {
          document.getElementById("top").style.display = 'none'
        }
      }
  
      window.onscroll = onScrollToTop
    </script>
  </body>
</html>