<!DOCTYPE html>
<html>
  <head>
    <title><%= post.title %> - <%= github.userName %> Blog</title>
    <link href="../assets/common.css" rel="stylesheet"></link>
    <link href="../assets/hl.css" rel="stylesheet"></link>
  </head>
  <body>
    <div class="wrapper">
      <div class="title-wrapper">
          <h1 class="title"><%= post.title %></h1>
          <p class="post-date">📆 <%= dayjs(post.createdAt).format('YYYY-MM-DD') %></p>
      </div>
      <div class="content">
          <%= post.htmlContent %>
      </div>
    </div>
  </body>
</html>