section {
  padding-top: 90px;
  padding-bottom: 90px;
}

.gray-bg {
  background-color: #f7f8fc;
}

.section-title {
  color: #333;
  font-size:34px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 65px;
}
